In [3]:
from random import *
import urllib
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
C_list = pd.DataFrame()

for i in range(500):
    lat=(random()-.5)*randint(-180,180)
    lon=(random()-.5)*randint(-360,360)
    coords=pd.DataFrame([[lat,lon]], columns=['lat','lon'])
    city_list=city_list.append(coords)
    
    
city_list=city_list.reset_index()
city_list=city_list[['lat','lon']]

In [ ]:
# the nearest city to each pair 

for row in range(0,len(city_list)):
    #print(city_list.loc[row]['lat'])
    latde = C_list.loc[row]['lat']
    lontde = C_list.loc[row]['lon']    
    city = citipy.nearest_city(latde,lontde)
    C_list.set_value(row, "city", city.city_name.title())
    C_list.set_value(row, "country", city.country_code.upper())

In [6]:
C_list.head(5)
C_list.tail(5)

           lat        lon
595  -8.673927  50.806647
596  76.875629 -12.435233
597  -3.068302  11.894917
598   3.830349   8.541884
599 -45.586736 -23.726341